*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  
.row1{
    color: cyan;
   padding-right: 5em;
    padding: 1em;
}

.centered{
    position: relative;
}
    
.text-block{
    position: absolute;
    left: 0;
    text-align: center;
    top: 30ex;
    width: 100%;
    
    
    color: white;
  
  
   
}
.heading{
    color: white;
    text-align: center;
}
.heading-1{
    text-align: center;

}
.contact {
    color: white;
    text-align: center;

}
.contact-1 {
    color: white;
    text-align: center;
    
}
.copyright {
    color: white;
    text-align: center;
}
